<launch>
  <arg name="model" default="$(find motoman_description)/robots/sia5/sia5_with_parallel_gripper.xacro"/>
  <arg name="gui" default="True" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motoman_description)/launch/sia5/rviz/sia5_with_table.rviz" required="true" />


  <!-- Run a separate controller for the one sided gripper -->
  <node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
     <rosparam>
        model: singlesided
        invert: true
        center: 0.0
        pad_width: 0.0254
        finger_length: 0.065
        min_opening: -0.8
        max_opening: 0.5
        joint: gripper_joint
     </rosparam>
  </node>




</launch>
